@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  font-family: "Poppins";
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  color: #d3d3d3;
	background: linear-gradient(-45deg, #a9a3f8, #e73c7e, #23a6d5, #f5f39a);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
